# Import data
## Data Formatting as pandas dataframe

 This small section imports data from kaggle since it is already formatted.

In [ ]:
# Install dependencies as needed:
# pip install kagglehub[pandas-datasets]
import kagglehub
from kagglehub import KaggleDatasetAdapter

# Set the path to the file you'd like to load
file_path = "uci-secom.csv"

# Load the latest version
df = kagglehub.load_dataset(
  KaggleDatasetAdapter.PANDAS,
  "paresh2047/uci-semcom",
  file_path
  # Provide any additional arguments like
  # sql_query or pandas_kwargs. See the
  # documenation for more information:
  # https://github.com/Kaggle/kagglehub/blob/main/README.md#kaggledatasetadapterpandas
)

print("First 5 records:")
print(df.head())
print("Nayyer Here:")

<ipython-input-2-b6194b50d4eb>:10: DeprecationWarning: load_dataset is deprecated and will be removed in future version.
  df = kagglehub.load_dataset(

First 5 records:
                  Time        0        1          2          3       4      5  \
0  2008-07-19 11:55:00  3030.93  2564.00  2187.7333  1411.1265  1.3602  100.0
1  2008-07-19 12:32:00  3095.78  2465.14  2230.4222  1463.6606  0.8294  100.0
2  2008-07-19 13:17:00  2932.61  2559.94  2186.4111  1698.0172  1.5102  100.0
3  2008-07-19 14:43:00  2988.72  2479.90  2199.0333   909.7926  1.3204  100.0
4  2008-07-19 15:22:00  3032.24  2502.87  2233.3667  1326.5200  1.5334  100.0

          6       7       8  ...       581     582     583     584      585  \
0   97.6133  0.1242  1.5005  ...       NaN  0.5005  0.0118  0.0035   2.3630
1  102.3433  0.1247  1.4966  ...  208.2045  0.5019  0.0223  0.0055   4.4447
2   95.4878  0.1241  1.4436  ...   82.8602  0.4958  0.0157  0.0039   3.1745
3  104.2367  0.1217  1.4882  ...   73.8432  0.4990  0.0103  0.0025   2.0544
4  100.3967  0.1235  1.5031  ...       NaN  0.4800  0.4766  0.1045  99.3032

      586     587     588       589  Pass/Fail
0     NaN     NaN     NaN       NaN         -1
1  0.0096  0.0201  0.0060  208.2045         -1
2  0.0584  0.0484  0.0148   82.8602          1
3  0.0202  0.0149  0.0044   73.8432         -1
4  0.0202  0.0149  0.0044   73.8432         -1

[5 rows x 592 columns]
Nayyer Here:

In [ ]:
print("Hello world!")

Hello world!

In [ ]:
print("Hello everybody, this is a test")

Hello everybody, this is a test

# Initial descriptive statistics
## How many -1s and 1s?

In [4]:
print('Hi Pavani here')

Hi Pavani here